version: "3.5"

services:
  db:
    image: mongo
    container_name: db
    ports:
      - 27017:27017
    volumes:
      - ./.docker/mongo/data:/data/db
    restart: always

  db_gui:
    image: mongo-express
    container_name: db_gui
    ports:
      - 8081:8081
    restart: always
    environment:
      ME_CONFIG_MONGODB_SERVER: db
